<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>foundation_1</key>
	<string>77.5,45</string>
	<key>foundation_2</key>
	<string>46,21</string>
	<key>foundation_3</key>
	<string>43,26.5</string>
	<key>foundation_4</key>
	<string>104,54</string>
</dict>
</plist>
